body{
}
.navbare {
	height: 100%; /* 100% Full-height */
	width: 250px; 
	margin-left: 0px;
	position: fixed; /* Stay in place */
	z-index:1000; /* Stay on top */
	top: 0;
	left: 0;
	background-color: white; 
	overflow-x: hidden; /* Disable horizontal scroll */
	box-shadow: 2px 2px 5px;
	text-align: center;	
}
.content{
	overflow: hidden;
}

.thumbnail{
	margin-top: 60px;
}
#acceuil{
	width: 0px;
}
#cecilecontact{
		display: inline-block;
		border:2px solid grey;
		overflow: hidden;
}
@media (min-width: 200px){
	.navbare{
		width: 200px;
		margin-left: -230px;
		visibility: visible;
	}
	.navbarmobile{
		visibility: visible;
	}
	#titrelogo{
		visibility: hidden;
	}
	#logo{
		height: 35px;
	}

	.swiper-slide{
		padding-top: 40px;

	}
	#welcomescreen{
		font-size: 12px;
	}
	#cecilecontact{
		font-size: 9px;
		margin-left: 0px;
	}
	#cecilecontact img{
		width: 30px;
	}
	#cecilecontact h3{
		font-size: 11px;
	}
	h1{
		font-size: 20px;
	}
}
@media (min-width: 767px){
	.navbare{
		width: 225px;
		margin-left: 0px;
		visibility: visible;
	}
	.navbarmobile{
		visibility: hidden;
	}
	#titrelogo{
		visibility: hidden;
	}
	#logo{
		height: 60px;
	}

	.swiper-slide{
		padding-left: 225px;
		padding-top: 0;

	}
	#welcomescreen{
		font-size: 14px;
	}
	}
	#cecilecontact{
		margin-left: 30px;
		font-size: 12px;
	}
	#cecilecontact img{
		width: 150px;
	}
	#cecilecontact h3{
		font-size: 15px;
	}
	h1{
		font-size: 30px;
	}
}
@media screen and (min-width: 1199px){
	.navbare{
		width: 250px;
		margin-left: 0px;
		visibility: visible;
	}
	.navbarmobile{
		visibility: hidden;
	}
	#titrelogo{
		visibility: visible;
	}
	.swiper-slide{
		padding-left: 250px;
		padding-top: 0px;
	}
	#welcomescreen{
		font-size: 18px;
	}
	.test{

	}
	#cecilecontact img{
		width: 200px;
	}
	#cecilecontact{
		font-size: 14px;
	}
	#cecilecontact h3{
		font-size: 18px;
	}
	h1{
		font-size: 40px;
	}
	#contactcontent{
		margin-left: 30px;
	}
}
.list-group.panel > .list-group-item {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}
.list-group-submenu {
	margin-left:20px;
}
.slider img{
	width: 100%; /* you can use % */
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.slider{
	width: 100%; /* you can use % */
	overflow: hidden;
}
#burgerbutton{
	border: none;
	background: none;
	top: 0px;
	left: 0px;
	float: right;
}
.navbarmobile{
	width: 100%;
	height: 40px;
	position: fixed; /* Stay in place */
	z-index:1000; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #E3E3E3;
	box-shadow: 2px 2px 5px;
}
.navbarmobile img{
	margin: 2px;
}

.burgermenu{
	float:right;
}

.icon-bar{
	display: block;
	border: solid black;
	width: 35px;
	height: 1px;
	margin: 6px 0;
}
h4{

	line-height: 30px; 	
}
.content{
	-webkit-transition: filter 0.7s ease-in-out;
	-moz-transition: filter 0.7s ease-in-out;
	-o-transition: filter 0.7s ease-in-out;
	-ms-transition: filter 0.7s ease-in-out;
	transition: filter 0.7s ease-in-out;
}
#welcomescreen {
	display: table;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 300px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	color: white;
	background: url(../img/bg.JPG) no-repeat center scroll;
	background-color: #E3E3E3;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#logowelcome{
	width: 100px;
	height: auto;
}
.navbare li{
	text-align: left;
	padding-left: 10px;
}
.submenu{
	text-align: left;
	padding-left: 50px;
}
.btnn{
	color:#5d3f05;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #67bf32;	
	}/*#5d3f05*/
	li a:hover{
		color:#8a6d3b;
	}
	.cadre{
		margin: 20px;
		min-height: 1400px;
		text-align: center;
		width: 1100px;
	}
	.item{
		height: 50%;
	}
	#contact h1{
		display: block;
		text-align: center;
	}
	#cecilecontact img{
		float: left;
	}
	#cecilecontact p{
		font:Arial, Helvetica, sans-serif;
   		margin-left: 20px;
	}
	#gmap {
	    float: none;
	    margin: 0 auto;
		height: 400px;
	}
.post-title {
    font-weight: bold;
    font-size: 200%;
    padding: 9px;
    text-align: center;

}
#formbtn{
	text-align: center;
}
#cecilecontact p{
	margin-left: 110px;
	margin-top: 10px;
}
#contactcontent{
	margin-top: 50px;
	text-align : center;
}
#cabinet2 {
	width: 500px;
	float: left;
	padding: 10px 10px 10px 10px;
	text-align: justify;
	margin-left: 10px;
	margin-top: 30px;
	height: 300px;
}
#terrain {
	width: 500px;
	float: right;
	padding: 10px 10px 10px 10px;
	text-align: justify;
	margin-right: 30px;
	margin-top: 30px;
	height: 300px;
}
h2 {
	text-align: center;
	font-weight: bold;
}
h3 {
	text-align: justify;
	font-weight: bold;
}
#oeuvre {
	width: 500px;
	height: 350px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	padding: 30px 10px 10px;
	overflow-y: scroll;
	text-align: justify;
	line-height: 5px;
}
#oeuvre::-webkit-scrollbar {
	display: none;
}
#amenagement {
	width: 500px;
	height: 350px;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
	overflow-y: scroll;
	text-align: justify;
	line-height: 5px;
	padding: 30px 10px 10px 10px;
}
#amenagement::-webkit-scrollbar {
	display: none;
}
#travaux {
	width: 500px;
	height: 350px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	overflow: scroll;
	text-align: justify;
	line-height: 5px;
	padding: 30px 10px 10px 10px;
}
#travaux::-webkit-scrollbar {
	display: none;
}
#foncier {
	width: 500px;
	height: 350px;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
	overflow: scroll;
	text-align: justify;
	line-height: 5px;
	padding: 30px 10px 10px 10px;
}
#foncier::-webkit-scrollbar {
	display: none;
}
img {
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}