
.navbar {
	height: 100%; /* 100% Full-height */
	width: 250px; 
	margin-left: 0px;
	position: fixed; /* Stay in place */
	z-index:1000; /* Stay on top */
	top: 0;
	left: 0;
	background-color: white; 
	overflow-x: hidden; /* Disable horizontal scroll */
	box-shadow: 2px 2px 5px;
	text-align: center;
}
.content{
	padding-left: 250px;
	overflow: hidden;
}

.thumbnail{
	margin-top: 60px;
}
#acceuil{
	width: 0px;
}
@media screen and (min-width: 200px){
	.navbar{
		width: 200px;
		margin-left: -230px;
		visibility: visible;
	}
	.navbarmobile{
		visibility: visible;
	}
	#titrelogo{
		visibility: hidden;
	}
	#logo{
		height: 35px;
	}
	.content{
		padding-left: 0px;
	}
	#welcomescreen{
		font-size: 12px;
	}
}
@media screen and  (min-width: 767px){
	.navbar{
		width: 225px;
		margin-left: 0px;
		visibility: visible;
	}
	.navbarmobile{
		visibility: hidden;
	}
	#titrelogo{
		visibility: hidden;
	}
	#logo{
		height: 60px;
	}
	.content{
		padding-left: 225px;
	}
	#welcomescreen{
		font-size: 14px;
	}
}
@media screen and (min-width: 1199px){
	.navbar{
		width: 250px;
		margin-left: 0px;
		visibility: visible;
	}
	.navbarmobile{
		visibility: hidden;
	}
	#titrelogo{
		visibility: visible;
	}
	.content{
		padding-left: 250px;
	}

	#welcomescreen{
		font-size: 18px;
	}
}
.list-group.panel > .list-group-item {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}
.list-group-submenu {
	margin-left:20px;
}
.slider img{
	width: 100%; /* you can use % */
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.slider{
	width: 100%; /* you can use % */
	overflow: hidden;
}
#burgerbutton{
	border: none;
	background: none;
	top: 0px;
	left: 0px;
	float: right;
}
.navbarmobile{
	width: 100%;
	position: fixed;
	height: 40px;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #E3E3E3;
	box-shadow: 2px 2px 5px;
}
.navbarmobile img{
	margin: 2px;
}

.burgermenu{
	float:right;
}

.icon-bar{
	display: block;
	border: solid black;
	width: 35px;
	height: 1px;
	margin: 6px 0;
}
h4{

	line-height: 30px; 	
}
.content{
    -webkit-transition: filter 0.7s ease-in-out;
    -moz-transition: filter 0.7s ease-in-out;
    -o-transition: filter 0.7s ease-in-out;
    -ms-transition: filter 0.7s ease-in-out;
    transition: filter 0.7s ease-in-out;
}
#welcomescreen {
	display: table;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 300px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	color: white;
	background: url(../img/bg.JPG) no-repeat center scroll;
	background-color: #E3E3E3;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#logowelcome{
	width: 100px;
	height: auto;
}
.navbar li{
 text-align: left;
 padding-left: 10px;
}
.submenu{
 text-align: left;
	padding-left: 50px;
}